openapi: 3.0.1
info:
  contact:
    email: info@redline-software.ch
    name: Redline Software AG
    url: https://www.redline-software.ch
  description: Schnittstelle Redline Applikationen
  license:
    name: ""
  termsOfService: ""
  title: Redline IntegrationRest API
  version: 0.0.1
servers:
- description: Liveserver
  url: "https://redline.software/redline/Redline/{institution}/IntegrationRest"
  variables:
    institution:
      default: Demo
- description: Betaserver
  url: https://betatest84.servline.ch/redline_test/Redline/Demo/IntegrationRest
- description: Lokale Entwicklung
  url: http://localhost:8063/Redline/Demo/IntegrationRest
security:
- token: []
paths:
  /domain/v1/klient:
    get:
      description: liefert alle Klient in diesem Bereich
      operationId: listKlienten
      parameters:
      - description: Nur Klienten die nach RAI abgerechnet werden
        in: query
        name: raiBilledOnly
        required: false
        schema:
          type: boolean
      - description: |
          Returns only records that were updated after this timestamp. Must be an ISO 8601 UTC datetime.
        example: 2026-02-20T10:15:00Z
        in: query
        name: updatedSince
        required: false
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlientCollection"
          description: ok
      summary: Klient Liste
      tags:
      - Klient
  /domain/v1/user:
    get:
      description: liefert alle User(Mitarbeitende) in diesem Bereich
      operationId: listUser
      parameters:
      - description: |
          Returns only records that were updated after this timestamp. Must be an ISO 8601 UTC datetime.
        example: 2026-02-20T10:15:00Z
        in: query
        name: updatedSince
        required: false
        schema:
          format: date-time
          type: string
      - description: Nur User liefern die aktuell aktiv sind
        in: query
        name: activeOnly
        required: false
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserCollection"
          description: ok
      summary: User Liste
      tags:
      - User
  /health:
    get:
      description: Returns HTTP 200 if the service is healthy.
      operationId: getHealth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_200_response"
          description: Service is healthy
      summary: Health check
      tags:
      - Infrastructure
components:
  schemas:
    KlientCollection:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Klientabfrage"
          type: array
      required:
      - data
      type: object
      x-flexClass: RedlineIntegKlientListRMO
    UserCollection:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Userabfrage"
          type: array
      required:
      - data
      type: object
      x-flexClass: RedlineIntegUserListRMO
    Klientabfrage:
      properties:
        headId:
          readOnly: true
          type: string
        klientNr:
          type: string
        nachname:
          type: string
        vorname:
          type: string
        eintritt:
          format: date
          type: string
        austritt:
          format: date
          type: string
        geburtsdatum:
          format: date
          type: string
        zivilstand:
          $ref: "#/components/schemas/Klientabfrage_zivilstand"
        sprache:
          type: string
        nationalitaet:
          type: string
        konfession:
          $ref: "#/components/schemas/Klientabfrage_konfession"
        geschlecht:
          $ref: "#/components/schemas/Geschlecht"
        ahv:
          description: Schweizer AHV Nr
          type: string
        krankenkasseKVG:
          $ref: "#/components/schemas/Klientabfrage_krankenkasseKVG"
        krankenkasseVVG:
          $ref: "#/components/schemas/Klientabfrage_krankenkasseVVG"
        heimatort:
          type: string
        adresse:
          $ref: "#/components/schemas/Adresse"
        kontakt:
          $ref: "#/components/schemas/Klientabfrage_kontakt"
        umfeldadressen:
          items:
            $ref: "#/components/schemas/Umfeldadresse"
          type: array
        headExternalId:
          type: string
      required:
      - headId
      - nachname
      - umfeldadressen
      type: object
      x-flexClass: RedlineIntegKlientabfrageRMO
    Userabfrage:
      properties:
        headId:
          readOnly: true
          type: string
        username:
          type: string
        eintritt:
          format: date
          type: string
        austritt:
          format: date
          type: string
        personalNr:
          type: string
        nachname:
          type: string
        vorname:
          type: string
        geburtsdatum:
          format: date
          type: string
        adresse:
          $ref: "#/components/schemas/AdresseUser"
        email:
          type: string
        telGeschaeft:
          type: string
        telPrivat:
          type: string
        telMobil:
          type: string
      required:
      - headId
      type: object
      x-flexClass: RedlineIntegUserabfrageRMO
    Geschlecht:
      enum:
      - male
      - female
      - divers
      type: string
    Adresse:
      properties:
        strasse:
          type: string
        strasseZusatz:
          type: string
        postfach:
          type: string
        plz:
          type: string
        ort:
          type: string
      type: object
      x-flexClass: RedlineIntegAdresseRMO
    Umfeldadresse:
      properties:
        headId:
          type: string
        kategorie:
          $ref: "#/components/schemas/Umfeldadresse_kategorie"
        anrede:
          type: string
        nachname:
          type: string
        vorname:
          type: string
        geburtsdatum:
          format: date
          type: string
        bemerkung:
          type: string
        adresse:
          $ref: "#/components/schemas/Adresse"
        kontaktPrivat:
          $ref: "#/components/schemas/Kontakt"
        kontaktGeschaeft:
          $ref: "#/components/schemas/Kontakt"
        kontaktAlternativ:
          $ref: "#/components/schemas/Kontakt"
        headExternalId:
          type: string
      required:
      - headId
      type: object
      x-flexClass: RedlineIntegKlientUmfeldadresseRMO
    AdresseUser:
      properties:
        strasse:
          type: string
        plz:
          type: string
        ort:
          type: string
      type: object
      x-flexClass: RedlineIntegAdresseUserRMO
    Kontakt:
      description: Kontaktdaten einer Umfeldadresse
      properties:
        tel1:
          type: string
        tel2:
          type: string
        mobil:
          type: string
        email:
          type: string
        fax:
          type: string
      type: object
      x-flexClass: RedlineIntegKontaktRMO
    getHealth_200_response:
      properties:
        status:
          example: ok
          type: string
      type: object
    Klientabfrage_zivilstand:
      description: user definiert
      properties:
        headId:
          type: string
        label:
          description: "z.B. ledig, verheiratet, getrennt"
          type: string
        key:
          type: string
      type: object
      x-flexType: refWithKey
    Klientabfrage_konfession:
      description: "user definiert, gewisse Werte sind vordefiniert"
      properties:
        headId:
          description: "-10800 katholisch, -10801 reformiert, -10802 muslimisch, -10803\
            \ orthodox, -10804 konfessionslos, -10805 buddhistisch, -10806 jüdisch,\
            \ -10807 hindu, -10808 methodist, -10809 andere"
          type: string
        label:
          description: "z.B. katholisch, reformiert, muslimisch"
          type: string
        key:
          type: string
      type: object
      x-flexType: refWithKey
    Klientabfrage_krankenkasseKVG:
      properties:
        name:
          type: string
        sektion:
          type: string
        mitgliedernummer:
          type: string
        bagNr:
          type: string
        kartenNr:
          type: string
        gln:
          description: Global Location Number
          example: "7612345000008"
          maxLength: 13
          minLength: 13
          pattern: "^[0-9]{13}$"
          type: string
      type: object
      x-flexClass: RedlineIntegKlientKrankenkasseKVGRMO
    Klientabfrage_krankenkasseVVG:
      properties:
        name:
          type: string
        sektion:
          type: string
        mitgliedernummer:
          type: string
        gln:
          description: Global Location Number
          example: "7612345000008"
          maxLength: 13
          minLength: 13
          pattern: "^[0-9]{13}$"
          type: string
      type: object
      x-flexClass: RedlineIntegKlientKrankenkasseVVGRMO
    Klientabfrage_kontakt:
      properties:
        tel1:
          type: string
        tel2:
          type: string
        mobile:
          type: string
        email:
          type: string
      type: object
      x-flexClass: RedlineIntegKlientKontaktRMO
    Umfeldadresse_kategorie:
      description: gewisse Werte sind vordefiniert
      properties:
        headId:
          description: "-1 Haus/Facharzt, -2 Psychiater, -3 Externe Bezugsperson,\
            \ -4 Beistand, -5 Notfallkontakt, -6 IV Berater"
          type: string
        label:
          description: "z.B. Haus/Facharzt, Psychiater"
          type: string
      type: object
      x-flexType: ref
  securitySchemes:
    token:
      scheme: bearer
      type: http
